@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;700&display=swap');

.App {
    text-align: center;
    --color-secondary: #ab2b26;
    --primary: #121923;
    --border-gray: #A1A1AA55;
    --primary-light: #1b2736;
    --secondary : #00CAFF;
    --text-white: white;
    --text-light: #9aa8ce;
    --text-gray: #a1a1a1;
}