@use '../src/styles/variables';
@use '../src/styles/navbar.scss' as navbar;
@use '../src/styles/home.scss' as home;

body, html{
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 0.025rem;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.collapse:not(.show) {
  display: none;
}

section{
  padding: 100px 0 150px 0;
  width: 100%;
}

.App{
  background-image: linear-gradient(62deg, var(--primary) 0%, var(--primary-light) 99%);
}